<div class="menu">
  <nav class="menu__list">
    @for (link of links; track link.url) {
    <a [routerLink]="[link.url]" class="menu__list--item" routerLinkActive="menu__list--active"
      [routerLinkActiveOptions]="{exact: true}">
      {{ link.title }}
    </a>
    }

    @if (currentUser()) {
    <span class="text-white"> {{ currentUser() && currentUser()?.username }} </span>
    <button (click)="logout()">Logout</button>
    } @else {
    <a [routerLink]="['/login']" class="menu__list--item" routerLinkActive="menu__list--active"
        >
        Login
      </a>
      }
  </nav>
</div>
