.menu {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(21, 65, 136);

  &__item {
    padding: 1rem;
    color: white;
    text-decoration: none;

    &--active {
      text-decoration: underline;
    }
  }
}
