
<table class="data-table">
  <thead>
    <tr class="data-table__heading">
      @for (header of headers; track header.value) {
        <th class="data-table__col data-table__heading--item">
          {{ header.text }}
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (item of items; track item.id; let even = $even) {
    <tr class="data-table__row" [ngClass]="{ even }">
      @for (header of headers; track header.value) {
        @if (header.value === 'actions') {
          <td class="data-table__col">
            <button (click)="emitDelete(item.id)">delete</button>
          </td>
        } @else {
          <td class="data-table__col">
            {{item[header.value]}}
          </td>
        }
      }
    </tr>
    } @empty {
    <tr class="data-table__row">
      <td class="data-table__col data-table__no-items" [attr.colspan]="headers.length">There are no items!</td>
    </tr>
    }
  </tbody>
</table>
