<app-default-layout>
  @if (errors()) {
  <pre>
      {{ parsetErrors()  }}
    </pre>
  }
  <h1>Hello bunny</h1>
  <form [formGroup]="createUserForm" (ngSubmit)="createUser()">

      <app-text-field [messages]="messages" label="Username" formControlName="username" />

      <app-text-field [messages]="messages" label="Email" formControlName="email" type="email" />

      <app-text-field [messages]="messages" label="Bio" formControlName="bio" />

    <button class="submit-btn" type="submit" [disabled]="isSubmitting()"> Submit</button>
  </form>
</app-default-layout>
